body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

audio {
  display: none;
}
#play {
  display: inline-block;
  margin: 0.5em;

  cursor: pointer;
  fill: #42afe3;
}

.inline-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chinese-text {
  font-size: 16px;
}
ul {
  padding-left: 6px;
}

li {
  list-style: none;
}
.toc {
  margin-bottom: 30px;
  padding: 1em 1em 1em 2em;
  border: 1px solid #999;
  background-color: #f7f7f7;
  color: #333333;
  display: inline-block;
}

.toc div {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 0;
}

.toc ol {
  list-style-type: disc;
  margin: 0;
  padding: 0 1.2em;
  overflow: hidden;
}

.toc ol ol {
  margin-top: 5px;
}

.toc li {
  padding: 5px 0;
}

.toc a {
  color: #166c9d;
}
